#root {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  font-family: Lato;
}

input,button:focus {
  outline: 0;
}

.logo {
  font-family: Pacifico, cursive;
  font-size: 1.4em;
  user-select: none;
}

.navigation {
  background-color: #57BFFC;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

ul > li {
  display: flex;
  align-self:stretch;
  align-items:center;
}

ul > .navigation-item:hover {
  background-color: #05A0FA;
}

ul > li > a {
  padding: 0.8em 1em;
  text-decoration: none;
  color: white;
}
